body{
    font-family: Arial, sans-serif;
    background:#0f172a;
    color:white;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
    color:#38bdf8;
}

.box{
    background:#1e293b;
    border-radius:12px;
    padding:20px;
    margin:20px auto;
    width:90%;
    max-width:900px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

input{
    width:90%;
    padding:12px;
    margin:8px 0;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    background:#22c55e;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#16a34a;
}

.output{
    white-space:pre-line;
    text-align:left;
    margin-top:15px;
}
